<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <div class="jumbotron">
    <h1>address</h1>
    <div class="row">
      <form action="/list" method="post">
        <div class="col-md-6">
          <label for="name">Name: </label>
          <input type="text" name="name">
        <br>
          <label for="address">Model:</label>
          <input type="text" name="address">
        <br>
          <label for="model">Phone Number:</label>
          <input type="phone" name="phone">
        <br>
          <div class="col-md-6">
          </div>
        </div>
      <button type="submit" name="button">Submit</button>
      </form>
    </div>
  </body>
  </html>
  </body>
</html>
