<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
      <style>
        #float{
          float: right;

        }
      </style>
      <title>Car List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
    <div class="container">

    <div class="jumbotron">
      <h1>Here is your current addressbook</h1>

          @foreach (var book in Model)
          {
    <div class="row">
    <div class="col-md-2">
      </div>
      <div class="col-md-2" align="left">
        <h4>@book.GetName()</h4>
        <h5>@book.GetPhone()</h5>
        <h5>@book.GetAddress()</h5>
      </div>
    </div>
      }
    </div>
    <div class="well">
      <form action="/" method="post">
        <button type="submit" name="add" class="btn btn-primary">Add Another</button>
      </form>
      <br>
      <form action="/list/clear" method="post">
        <button type="submit" name="clear" class="btn btn-primary">Clear List</button>
      </form>
    </div>
  </div>
  </body>
</html>
